NEXT_PUBLIC_APP_URL=https://www.cvrank.kuzakizazi.com
NEXT_PUBLIC_CV_BUILDER_URL=https://cv.kuzakizazi.com
REPORT_PRICE_KES=99
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_SECRET_HASH=
FLUTTERWAVE_WEBHOOK_SECRET=
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
RESEND_API_KEY=
RESEND_FROM="CV Rank <reports@cvrank.kuzakizazi.com>"
RESEND_REPLY_TO=
